@import "tailwindcss";

@theme {
    --container-container: 1600px; 
    --font-dm: "DM Sans", "sans-serif"; 
    --color-primary: #767676; 
    --color-secondary: #262626; 
    --color-third: #F5F5F3; 
    --text-f39: 39px; 
    
  }